name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Cache Node.js modules
        uses: actions/cache@v3 
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock') }}
          restore-keys: |
            ${{ runner.os }}-node-            

      - name: Install dependencies
        run: npm install

      - name : Run dependencies audit
        run: npm audit --audit-level=high  

      - name: Build Project
        run: npm run build  

      # - name: Run Tests # مؤجل حالياً
      #   run: npm test

      - name: Run Linter # التأكد من تنسيق الكود
        run: npm run lint

      - name: Run Prettier # التأكد من تنسيق الكود باستخدام prettier
        run: npx prettier --check .
